<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832034985338-a3vbcj52j7pbfpecqkeold10va3nih24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832034985338-a3vbcj52j7pbfpecqkeold10va3nih24</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>832034985338-5lo23u2cju24i2h7ug0uqe6qkl0eo9j2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhVgj33P6Cu4UOK_6eZMr2zQQlnAR3tw0</string>
	<key>GCM_SENDER_ID</key>
	<string>832034985338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oneflix.streaming.guide</string>
	<key>PROJECT_ID</key>
	<string>oneflix-c1af1</string>
	<key>STORAGE_BUCKET</key>
	<string>oneflix-c1af1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832034985338:ios:5c65631b6de81e1848f2c3</string>
</dict>
</plist>